.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-dark-secondary;
    padding: 10px 20px;
}

.navbar-logo {
    color: $color-white;
    font-size: $fs-large;
    font-weight: bold;
    letter-spacing: 1px;

    span { color: $color-primary; }
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;

    &-image {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        object-fit: cover;
    }

    &-name {
        font-size: 12px;
    }
}
