<nav class="navbar">
    {{!-- <LinkTo class="navbar-logo" @route="">
        Hi!
    </LinkTo> --}}
    <LinkTo @route="index" class="navbar-logo">
        Hi<span>!</span>
    </LinkTo>
    <div class="navbar-user">
        <img src="/assets/images/richard-jackson.jpg" alt="" class="navbar-user-image">
        <small class="navbar-user-name">Richard</small>
    </div>
</nav>